# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Daniela Ruiz\Documents\CVDS\CVDS_IMPLEMENTACIONES\CVDS_LAB8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
